@use "./globalvar.scss" as vars;

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.introsection {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 4rem;
	background-image: url("./assets/images/pattern-circles.svg");
	background-repeat: no-repeat;
	background-position: center;
	h1 {
		font-size: 2rem;
	}
	p {
		color: vars.$text-color;
	}
}

@media only screen and (max-width: 760px) {
	.app {
		gap: 2em;
	}

	.introsection {
		gap: 1em;
		h1 {
			font-size: 1.6rem;
		}
		p {
			max-width: 220px;
			margin-inline: auto;
		}
	}
}
