@use "./globalvar.scss" as vars;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
	font-family: "Manrope", sans-serif;
	font-size: 15px;
	font-weight: 700;

	color: vars.$cta-bg;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* css reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

input,
textarea,
button,
select {
	font: inherit;
}

html,
body {
	height: 100%;
}
/* end css reset */

#root {
	min-height: 100vh;
}

body {
	min-height: 100vh;
	background-color: vars.$main-bg;
	background-image: url("./assets/images/bg-pattern.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 50%;
}
